<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.lylasolutions"
    versionCode="12"
    version   = "1.3.0">
  <preference name="phonegap-version" value="2.9.0" />
  <!-- versionCode is optional and Android only -->

  <name>LylaSolution</name>

  <description>
    LylaSolution is the world’s premier multicultural Global Sports Network and Legacy Search Engine. It’s exclusive “Timeline Features” provide the resources to Create, Share and Preserve “Your Sports Legacy“ from Childhood… to Professional and Beyond.
  </description>

  <author href="http://www.reportninja.org/" email="rizwan.2bv@gmail.com">
    Rizwan Sajid
  </author>
   <uses-permission android:name="IOS.permission.GET_ACCOUNTS" />
 <uses-permission IOS:name="IOS.permission.READ_CONTACTS" />
 <uses-permission IOS:name="IOS.permission.WRITE_CONTACTS" />


</widget>
